@model SlideX.Models.ErrorPageModels
@{
    ViewBag.Title = "Error: " + Model.Title;
}
@if (!String.IsNullOrWhiteSpace(Model.Title))
{
    <h2>@Model.Title</h2>
}
@if (!String.IsNullOrWhiteSpace(Model.Message))
{
    <blockquote>@Model.Message</blockquote>
}
@if (!String.IsNullOrWhiteSpace(Model.Details))
{
    <p>@Model.Details</p>
}
<p>
    @if (Model.ShowGotoMain)
    {
        @Html.ActionLink("Home page", "Index", "Home")
    }
    @if (Model.ShowGotoBack)
    {
        <a href="javascript:history.go(-1)">Go back</a>
    }
</p>