@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.PasswordChangeTitle;
}

<h2>@SlideX.Localization.ViewPhrases.PasswordChangeTitle</h2>
<p>
    @SlideX.Localization.ViewPhrases.PasswordChangeSeccessfulMessage
</p>
