@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.VerificationTitle;
}

<h2>@SlideX.Localization.ViewPhrases.VerificationTitle</h2>



<h3>@SlideX.Localization.ViewPhrases.VerificationMessage</h3>