@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.HomeTitle;
}
<h2>@SlideX.Localization.ViewPhrases.Welcome
</h2>
<link rel="stylesheet" type="text/css" href="/Content/jqcloud.css" />
<div id="tagsCloud" class="jqcloud" style="width: 550px; height: 350px; border: 1px solid #ccc;">
</div>
@section tagCloud
{
    <script type="text/javascript">
    $.ajax ({
                url: "@Url.Action("GetTagsCloudString")",
                type: 'post',
                dataType: 'json',
                cacheResults: true,
                success: function(data) { jQuery("#tagsCloud").jQCloud(data); }
            });
    </script>
}
