@model SlideX.Models.Presentation
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <h4>
        Title
    </h4>
    @Html.EditorFor(model => model.Title) 
    <h4>
        Description
    </h4>
    @Html.EditorFor(model => model.Description) <br />
    <input class="btn btn-success" type="submit" value="Create" />
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
