@model SlideX.Models.Presentation
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<h4>
    Title
</h4>
<code>@Html.DisplayFor(model => model.Title) </code>
<h4>
    Description
</h4>
<blockquote>
    @Html.DisplayFor(model => model.Description)
</blockquote>
<h4>
    Tags
</h4>
<ul>
    @foreach (var tag in Model.Tags)
    {
        <li>
            @Html.ActionLink(tag.Name, "SearchByTag", "Search", new { id = tag.Name }, null)
        </li>
    }
</ul>
<p>
    @if (User.Identity.Name == Model.User.Name)
    {
        <a class="btn btn-warning" href="@Url.Action("Edit", new { id = Model.Id })">Edit</a>
    }
    <a class="btn" href="javascript:history.go(-1)">Go back</a>
</p>
