@using SlideX.Models
@model SlideX.Models.SearchModel
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>presentation</legend>
        <div class="editor-field">
            @Html.EditorFor(model => model.SearchString)
        </div>
        <div class = "editor-field">
         @Html.DropDownListFor(model => model.Type, Enum.GetValues(typeof(SearchType)).Cast<SearchType>().Select(v => new SelectListItem
               {
                   Text = v.ToString().Replace("_", " "),
                   Value = ((int)v).ToString()
               }), "[Select Type]")
        </div>
                 
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
