@model IEnumerable<SlideX.Models.Presentation>
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.SearchByPresentationTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.SearchByPresentationTitle
</h2>
@if (Model != null)
{
    @Html.Partial("SearchResultTable")
}
