@model IEnumerable<SlideX.Models.Presentation>
@{
    ViewBag.Title = "Search pesentions by name";
}
<h2>
    SearchByPresention by tag
</h2>

@if ((Model != null) && (Model.Count() != 0))
{
   <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Options
                </th>
            </tr>
             @foreach (var item in Model)
             {
                <tr>
                    <td>
                        <code>@Html.DisplayFor(modelItem => item.Title)</code>
                    </td>
                    <td>
                        <blockquote>
                            @Html.DisplayFor(modelItem => item.Description)
                        </blockquote>
                    </td>
                    <td>
                        <a class="btn btn-success" href="@Url.Action("Preview", "UserPresentation", new { id = item.Id })" target = "_blank" >
                            View</a>  <a class="btn btn-info" href="@Url.Action("Details", "UserPresentation", new { id = item.Id })">
                                        Details</a> 
                    </td>
                </tr>
             }
        </table>
}
