@model IEnumerable<SlideX.Models.Presentation>
@{
    ViewBag.Title = "Search pesentions by name";
}
<h2>
    Search by presention name
</h2>
<legend>Found presentation: </legend>
@if (Model != null)
{
    <table>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Options
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("View Presentation", "Preview", "UserPresentation", new { id = item.Id }, new { target = "_blank" })|
                    @Html.ActionLink("Details", "Details", "UserPresentation", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
}
