@model IEnumerable<SlideX.Models.Presentation>
@{
    ViewBag.Title = @SlideX.Localization.ViewPhrases.SearchByTagsTitle;
}
<h2>
    @SlideX.Localization.ViewPhrases.SearchByTagsTitle
</h2>

@if ((Model != null) && (Model.Count() != 0))
{
    @Html.Partial("SearchResultTable")
}
